<div class="mx-auto max-w-6xl">
  <div class="flex flex-col items-center justify-centerp-4 dark:bg-zinc-600 bg-zinc-100 rounded-lg text-center">
    <div class="dark:text-white">
      <%= @inner_content %>
    </div>
  </div>
</div>
