<!DOCTYPE html>
<html lang="en" class="dark" class="[scrollbar-gutter:stable] ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · dayhi.st">
      <%= assigns[:page_title] || "dayhi.st" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script>
      if (localStorage.getItem('theme') === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
  </head>
  <DayhistWeb.Components.Header.render
    playlist_count={@playlist_count}
    song_count={@song_count}
    user_info={@user_info}
    __path__={@__path__}
  />
  <body class="bg-white dark:bg-zinc-800 flex flex-col h-screen justify-between font-sans-serif">
    <main class="mb-auto px-4 py-20 sm:px-6 lg:px-8">
      <.flash_group flash={@flash} />
      <%= @inner_content %>
    </main>
    <DayhistWeb.Compoents.Footer.render user_info={@user_info} />
  </body>
</html>
