<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · dayhist">
      <%= assigns[:page_title] || "dayhist" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>

  <body class="bg-white flex flex-col h-screen justify-between font-sans-serif">
    <header class="px-4 sm:px-6 lg:px-8 max-h-14">
      <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
        <a href="/">
          <div class="inline-flex items-center gap-2 text-xl font-bold font-mono">
            <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 0 448 512">
              <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path d="M128 0c17.7 0 32 14.3 32 32V64H288V32c0-17.7 14.3-32 32-32s32 14.3 32 32V64h48c26.5 0 48 21.5 48 48v48H0V112C0 85.5 21.5 64 48 64H96V32c0-17.7 14.3-32 32-32zM0 192H448V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V192zm64 80v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm128 0v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H208c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H336zM64 400v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H208zm112 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H336c-8.8 0-16 7.2-16 16z" />
            </svg>
            <span class="font-mono">dayhist</span>
          </div>
        </a>
        <div class="flex items-center gap-4 font-semibold leading-6 text-zinc-900 divide-x divide-zinc-500">
          <div class="flex items-center">
            <%= if @user_info do %>
              <p class="gap-4">Logged in as:</p>
              <div class="pl-2 flex items-center gap-1">
                <img src={@user_info.image} class="h-8 w-8 rounded-full " />
                <p>
                  <%= @user_info.name %>
                </p>
              </div>
              <.link href={~p"/auth/logout"} method="delete" class="hover:text-zinc-800 pl-4">
                Logout
              </.link>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <main class="mb-auto px-4 py-20 sm:px-6 lg:px-8">
      <.flash_group flash={@flash} />
      <%= @inner_content %>
    </main>

    <footer>
      <div class="flex flex-col items-center justify-center space-y-1">
        <p class="text-center text-sm text-gray-500">
          <span class="font-mono">dayhist</span> is not affiliated with Spotify.
        </p>

        <div class="text-sm text-gray-500">
          <span class="font-mono">dayhist</span>
          is an open source project by Owen Halliday.
          <.link
            href="https://github.com/drekdrek/dayhist"
            method="get"
            class="hover:text-zinc-800 text-blue-500"
          >
            View on GitHub
          </.link>
        </div>
        <div class="inline-flex items-center gap-2 text-sm text-gray-500 pb-2">
          <p>
            if you like <span class="pl-0.5 font-mono">dayhist</span>, consider a small donation to help keep it running.
          </p>
          <a href="https://ko-fi.com/owenhalliday">
            <img src="/images/kofi.png" alt="Donate on Ko-fi" width="150" />
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
